# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iws
*.iml
*.ipr

# ========================
# Maven
# ========================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# ========================
# ОС и редакторы
# ========================
.DS_Store
.vscode/
*.swp
*.swo
*~

# ========================
# Логи и временные файлы
# ========================
logs/
*.log
!src/main/resources/application.properties
!src/main/resources/application.yml

# ========================
# Опционально: если используется JRebel
# ========================
rebel.xml
