OTP_MAIL_HOST=smtp.yandex.ru
OTP_MAIL_PORT=465
OTP_MAIL_USERNAME=
OTP_MAIL_PASSWORD=
OTP_MAIL_AUTH=true
OTP_MAIL_STARTTLS=false
OTP_MAIL_SSL=true
OTP_MAIL_FROM=${OTP_MAIL_USERNAME}
OTP_MAIL_FROM_NAME=QuizAI

# Optional for local checks only
OTP_TEST_ENDPOINT_ENABLED=true
