* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.h11 {
  font-size: 3em;  
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.h12 {
  font-size: 11em;  
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.h13 {
  font-size: 3em;  
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.h1_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_cont {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(138, 128, 217));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.all_left {
  height: 100%;
}

.leftdiv {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 600px;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.rightdiv {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 600px;
  gap: 2em;
  align-items: center;
}

.btnl,
.btnr, p, .raiting {
  display: block;           
  width: 420px;
  padding: 30px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 18px;
  font-size: 25px;
}

.btnl, p, .raiting {
  background: linear-gradient(0deg, rgb(225, 224, 224), rgb(255, 255, 255));
  border-style: solid;
  border-width: 2px;
  border-color: #7f7b7b;
  color: #000
}

p, .btnr {
  border-radius: 50px;
}

.btnr {
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000
}

.btn_back {
  margin: 15px  ;
  display: block;           
  width: 100px;
  padding: 22px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 28px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000;
}

.pic {
  display: block;           
  width: 320px;
  height: 320px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 50%;
  font-size: 20px;
  background: #7f78e8;
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
}

.btnl:hover {
  background: #f1f1f1;
}
.btnr:hover {
  background: linear-gradient(180deg, rgb(255, 76, 76), rgb(255, 151, 151));
}

.fancy-hover {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
}



@media screen and (width<786px) {
  .leftdiv {
    padding-top: 5%;
    flex-shrink: 0;
    width: 100%;
    gap: 3em;
    align-items: center;
  }

  .rightdiv {
    flex-shrink: 0;
    width: 100%;
    gap: 2em;
    align-items: center;
  }

  .btnl,
  .btnr {
    width: 200px;
  }

  .h11 {
    font-size: 1.5em;  
  }

  .h12 {
    font-size: 5em;
  }

  .h13 {
  font-size: 1.5em;  
  }

  .btn_back {
    margin: 5px;
    display: block;           
    width: auto;
    padding: 22px 24px;
    text-align: center;                  
    text-decoration: none;    
    border-radius: 28px;
    font-size: 20px;
    background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
    border-style: solid;
    border-width: 2px;
    border-color: #291818;
    color: #000000;
  }
}
