<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/achivements_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">
    <header>
      <a href="profile.html" class="btn_back">НАЗАД</a>
      <h1 class="h11">QUIZ AI AREA</h1>
    </header>
    
    <p class="h12">ЕЩЁ ОДНО ДОСТИЖЕНИЕ - ВАШ ШАГ К ПОБЕДЕ</p>

    <main>
      <div class="achivements">
        <span>СПИСОК ДОСТИЖЕНИЙ</span>
        <div class="achivement">
          <div class="condition">
            <div class="name"><span class="sp1">ПОБЕДИТЕЛЬ</span></div>
            <div class="text">Свой от всех имеет своего, ты всеми агентство своих семантика первую продолжил все букв обеспечивает гор вопроса! Коварный текста вдали над.</div>
          </div>
        </div>
        <div class="achivement">
          <div class="condition">
            <div class="name"><span class="sp1">ПОБЕДИТЕЛЬ</span></div>
            <div class="text">го, ты всеми агентство своих семантика первую продолжил все букв обеспечивает гор вопроса! Коварный текста вдали над.</div>
          </div>
        </div>
        <div class="achivement">
          <div class="condition">
            <div class="name"><span class="sp1">ПОБЕДИТЕЛЬ</span></div>
            <div class="text">Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Свой от всех имеет своего, ты всеми агентство своих семантика первую продолжил все букв обеспечивает гор вопроса! Коварный текста вдали над.</div>
          </div>
        </div>
        <div class="achivement">
          <div class="condition">
            <div class="name"><span class="sp1">ПОБЕДИТЕЛЬ</span></div>
            <div class="text">Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Свой от всех имеет своего, ты всеми агентство своих семантика первую продолжил все букв обеспечивает гор вопроса! Коварный текста вдали над.</div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>

</html>