<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/connect1_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">
    <header>
      <a href="main.html" class="btn_back">НАЗАД</a>
      <h1 class="h11">QUIZ AI AREA</h1>
    </header>
    
    <p class="h12">ХОЧУ ИГРАТЬ!</p>

    <main>
      <div class="main_block">
        <div class="block_hor">
          <div class="input-group">
            <input type="text" name="link" placeholder="Ссылка-приглашение" required>
          </div>
          <a href="roommember.html" class="btnr">ВОЙТИ</a>          
        </div>
        <span> ИЛИ </span>
        <a href="themes.html" class="btnd">ВЫБРАТЬ ТЕМУ И ПРИСОЕДИНИТЬСЯ К ОТКРЫТОМУ КВИЗУ</a>
      </div>
    </main>
  </div>
</body>

</html>