<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../Site/styles/createroom_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">
    <header>
      <a href="main.html" class="btn_back">НАЗАД</a>
      <h1 class="h11">QUIZ AI AREA</h1>
    </header>

    <main>
      <div class="main_blockl">
        <div class="tablehead">
          <p class="h12">ВЫБЕРИТЕ СЛОЖНОСТЬ:</p>
        </div>
        <a href="createroom.html" class="btn">
          <div class="text">
            <h3>УЛЬТРА-ХАРД</h3>
          </div>
        </a>
        <a href="createroom.html" class="btn">
          <div class="text">
            <h3>ТЯЖЕЛЫЙ КВИЗ</h3>
          </div>
        </a>
        <a href="createroom.html" class="btn">
          <div class="text">
            <h3>СРЕДНИЙ КВИЗ</h3>
          </div>
        </a>
        <a href="createroom.html" class="btn">
          <div class="text">
            <h3>ЛЕГКИЙ КВИЗ</h3>
          </div>
        </a>
        <a href="createroom.html" class="btn">
          <div class="text">
            <h3>КВИЗ ДЛЯ ДЕТСКОГО САДА</h3>
          </div>
        </a>
      </div>

      <div class="right">
        <div class="main_blockr">
          <span>ПРИВАТНОСТЬ КОМНАТЫ</span>
          <div class="isprivate block_hor">
            <a href="createroom.html" class="btnprivate">ОТКРЫТАЯ</a>
            <a href="createroom.html" class="btnprivate">ЗАКРЫТАЯ</a>
          </div>

          <span>КОЛИЧЕСТВО УЧАСТНИКОВ</span>
          <div class="input-group">
            <input type="number" name="link" placeholder="<50 ЧЕЛОВЕК" required>
          </div>

          <span>КОЛИЧЕСТВО ВОПРОСОВ</span>
          <div class="input-group">
            <input type="number" name="link" placeholder="ОТ 10 ДО 100" required>
          </div>

          <span>ВРЕМЯ НА 1 ВОПРОС</span>
          <div class="input-group">
            <input type="number" name="link" placeholder="ОТ 10 ДО 120 СЕК" required>
          </div>
        </div>
        <a href="roomadmin.html" class="btncreate">СОЗДАТЬ КОМНАТУ</a>
      </div>
    </main>
  </div>
</body>

</html>