<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../Site/styles/exit_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">
    <h1>QUIZ AI</h1>
    <div class="main_rect">
      <span>ВЫ УВЕРЕНЫ, ЧТО ХОТИТЕ ВЫЙТИ?</span>
      <button class="btn1">ЕЩЁ ПО КВИЗУ!</button>
      <button class="btn2">ВЫЙТИ</button>
    </div>
  </div>
</body>


</html>