<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/history_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">
    <header>
      <a href="profile.html" class="btn_back">НАЗАД</a>
      <h1 class="h11">QUIZ AI AREA</h1>
    </header>

    <p class="h12">ИСТОРИЯ ВАШИХ КВИЗОВ</p>


    <main>
      <div class="games">
        <div class="tablehead">
          <p class="h12">ТЕМА</p>
          <p class="h12">РЕЗУЛЬТАТ</p>
          <p class="h12">ОТВЕТЫ</p>
        </div>
        <div class="game">
          <div class="text">
            <p class="h13">ТЕМА</p>
            <p class="h13">РЕЗУЛЬТАТ</p>
            <a href="#.html" class="btn">ОТВЕТЫ</a>
          </div>
        </div>
        <div class="game">
          <div class="text">
            <p class="h13">ТЕМА</p>
            <p class="h13">РЕЗУЛЬТАТ</p>
            <a href="#.html" class="btn">ОТВЕТЫ</a>
          </div>
        </div>
        <div class="game">
          <div class="text">
            <p class="h13">ТЕМА</p>
            <p class="h13">РЕЗУЛЬТАТ</p>
            <a href="#.html" class="btn">ОТВЕТЫ</a>
          </div>
        </div>
        <div class="game">
          <div class="text">
            <p class="h13">ТЕМА</p>
            <p class="h13">РЕЗУЛЬТАТ</p>
            <a href="#.html" class="btn">ОТВЕТЫ</a>
          </div>
        </div>
        <div class="game">
          <div class="text">
            <p class="h13">ТЕМА</p>
            <p class="h13">РЕЗУЛЬТАТ</p>
            <a href="#.html" class="btn">ОТВЕТЫ</a>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>


</html>