<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../Site/styles/style.css">
  <title>QUIZAI</title>
</head>


<body>
  <div class="main_cont">
    <header>
      <h1>QUIZ AI</h1>
      <p>Вход в систему</p>
    </header>
    <main>
      <div class="main_rect">
        <div class="name">
          <span>Имя пользователя</span>
          <div class="input-group">
            <input type="text" name="username" placeholder="Имя пользователя" required>
          </div>
        </div>
        <div class="password">
          <span>Пароль</span>
          <div class="input-group">
            <input type="password" password="password" placeholder="Пароль" required>
          </div>
        </div>
        <div class="enter">
          <button type="button" class="btn">ВОЙТИ</button>
        </div>
        <div class="reg_href">
          <span>Еще нет аккаунта?</span>
          <a href="register.html">Зарегестрируйтесь сейчас</a>
        </div>
      </div>
    </main>
  </div>
</body>

</html>