<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../../../Site/styles/main_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">
    <div class="leftdiv">
      <div class="h1_div">
        <h1 class="h11">QUIZ AI</h1>
        <h1 class="h12">AREA</h1>
      </div>
      <a href="profile.html" class="btnl">ПРОФИЛЬ</a>
      <a href="raiting.html" class="btnl">РЕЙТИНГ ИГРОКОВ</a>
      <a href="exit.html" class="btnl">ВЫЙТИ</a>
    </div>
    <div class="rightdiv">
      <h1 class="h13">ВНИМАНИЕ! ВОПРОС!</h1>
      <a href="connect1.html" class="btnr">ПРИСОЕДИНИТЬСЯ К КВИЗУ!</a>
      <a href="createroom.html" class="btnr">СОЗДАТЬ СВОЙ КВИЗ!</a>
    </div>
  </div>
</body>

</html>