<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/question_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">
    <header>
      <div class="h12">
        ВРЕМЯ НА ВОПРОС
      </div>
      <div class="timer">
        <div class="currenttime">
        </div>
      </div>
    </header>

    <main>
      <div class="question">
        <div class="h13"> ПОЧЕМУ?</div>
      </div>
      <div class="answers">
        <a href="question.html" class="btn">1 ОТВЕТ</a>
        <a href="question.html" class="btn">2 ОТВЕТ</a>
        <a href="results.html" class="btn">3 ОТВЕТ</a>
        <a href="resultsinmatch.html" class="btn">4 ОТВЕТ</a>
      </div>
    </main>
  </div>
</body>

</html>