<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/red_prof_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">
    <div class="leftdiv">
      <a href="profile.html" class="btn_back">НАЗАД</a>
    </div>
    <div class="rightdiv">
      <div class="pic"></div>
      <a href="red_prof.html" class="btnl">ИЗМЕНИТЬ АВАТАР</a>
      <a href="red_prof.html" class="btnl">ИЗМЕНИТЬ ИМЯ ПОЛЬЗОВАТЕЛЯ</a>
      <a href="red_prof.html" class="btnl">ИЗМЕНИТЬ СТАТУС</a>
      <a href="profile.html" class="btnr">СОХРАНИТЬ</a>
    </div>
    <div class="leftdiv">
    </div>
  </div>
</body>

</html>