<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/reg_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">
    <header>
      <h1>QUIZ AI</h1>
      <p>Регистрация в системе</p>
    </header>
    <main>
      <div class="main_rect">
        <div class="name">
          <span>Имя пользователя</span>
          <div class="input-group">
            <input type="text" name="username" placeholder="Имя пользователя" required>
          </div>
        </div>
        <div class="password">
          <span>Пароль</span>
          <div class="input-group">
            <input type="password" password1="password1" placeholder="Пароль" required>
          </div>
        </div>
        <div class="password">
          <span>Повторите ваш пароль</span>
          <div class="input-group">
            <input type="password" password2="password2" placeholder="Повторите ваш пароль" required>
          </div>
        </div>
        <div class="enter">
          <button type="button" class="btn">ЗАРЕГИСТРИРОВАТЬСЯ</button>
        </div>
        <div class="ent_href">
          <span>Уже есть аккаунт?</span>
          <a href="index.html">Войти в аккаунт</a>
        </div>
      </div>
    </main>
  </div>
</body>

</html>