<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/roommember_style.css">
  <title>QUIZAI</title>
</head>

<body>
  <div class="main_cont">

    <main>
      <div class="left">
        <header>
          <a href="connect1.html" class="btn_back">НАЗАД</a>
          <h1 class="h11">QUIZ AI AREA</h1>
        </header>

        <div class="players">
          <span>УЧАСТНИКИ:</span>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
          <div class="player"></div>
        </div>
      </div>

      <div class="right">
        <div class="h13">
          ВЫ В КОМНАТЕ КВИЗА! ЖДЁМ ЕГО НАЧАЛА!
        </div>

        <div class="h12  h121">
          CCЫЛКА-ПРИГЛАШЕНИЕ:
        </div>
        <div class="link">askjfmkakokokp</div>

        <div class="main_blockr">
          <span>ТЕМА КВИЗА:</span>
          <div class="theme">
            <div class="h11">ИГРЫ И ДОТА2</div>
          </div>

          <span>КВИЗ СКОРО НАЧНЕТСЯ! ЖДЕМ СОЗДАТЕЛЯ КОМНАТЫ</span>
        </div>
    </main>
  </div>
</body>

</html>