* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.h11 {
  font-size: clamp(1.5rem, 4vw, 3rem); 
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.h12 {
  font-size: clamp(1.5rem, 4vw, 3rem);
  padding-top: 40px;
  align-self: center;
  text-align: center;
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.main_cont {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(138, 128, 217));
  display: flex;
  min-height: 100vh; /* минимум — высота экрана */
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: column;
}

span {
  font-size: clamp(1rem, 4vw, 3rem);
  color: #4c4779;
  text-align: center;
}

.achivements {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #8279CF;
  border-width: 10px;
  background: white;
  border-radius: 3em;
  align-items: center;
  gap: 10px;
  align-self: center;
  width: 85%;
  flex-grow: 1;
  padding-bottom: 140px;
}

.achivement {
  display: flex;         
  width: 85%;
  height: max(150px, auto);
  text-align: start;    
  align-items: start;              
  border-radius: 18px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(225, 224, 224), rgb(255, 255, 255));
  border-style: solid;
  border-width: 2px;
  border-color: #7f7b7b;
  color: #000
}

.achivement:hover {
  background: linear-gradient(0deg, rgb(212, 215, 213), rgb(245, 251, 247));
}

/* .pic {
  margin: auto;
  display: block;       
  aspect-ratio: 1 / 1; 
  width: 15%;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 100%;
  font-size: 20px;
  background: #7f78e8;
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
} */

.sp1 {
  font-size: clamp(1rem, 4vw, 2rem);
  line-height: 1.3;
  align-self: start;
  text-align: start;
}

.condition {
  margin: 10px;
  display: flex;
  flex-grow: 1;          
  height: 100%;
  text-align: center;
  flex-direction: column;
}

.btn_back {
  margin: 15px;
  display: block;           
  width: 100px;
  padding: 22px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 28px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000;
}



@media screen and (width<786px) {
  .btn_back {
    width: 80%;
    align-self: center;
  }
  
  header {
    align-items: center;
    justify-content: center;
  }
}