* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.btn_back {
  margin: 15px  ;
  display: block;           
  width: 100px;
  padding: 22px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 28px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000;
}

.h11 {
  font-size: clamp(1.5rem, 4vw, 3rem); 
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.h12 {
  font-size: clamp(1rem, 2vw, 2rem);
  align-self: center;
  text-align: center;
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.tablehead {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

header {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.main_cont {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(138, 128, 217));
  display: flex;
  min-height: 100vh; /* минимум — высота экрана */
  min-width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
}


main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px; 
  align-items: start;
  justify-content: center;
  width: 100%;

}


.main_blockl {
  margin-top: 40px;
  margin-bottom: 140px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #8279CF;
  border-width: 10px;
  background: white;
  border-radius: 3em;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  height: auto;
}

.btn {
  display: block;           
  width: 90%;
  padding: 18px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 18px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(225, 224, 224), rgb(255, 255, 255));
  border-style: solid;
  border-width: 2px;
  border-color: #7f7b7b;
  color: #000
}

.text {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
}
.main_blockr {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #8279CF;
  border-width: 10px;
  background: white;
  border-radius: 3em;
  align-items: center;
  justify-content: space-around;
  height: auto;
  min-height: 500px;
  flex: 0.6 1 300px;
}

span {
  font-size: clamp(1.25rem, 2vw, 3rem);
  color: #4c4779;
  text-align: center;
}

.block_hor {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: auto;
  /* background-color: #000000; */
  justify-content: space-between;
}

.btnprivate {
  display: block;           
  width: 80%;
  padding: 10px 10px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 30px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000
}
.btnprivate:focus {
  border-color: #b87e7e;
  background:linear-gradient(0deg, rgb(255, 215, 215), rgb(255, 151, 151));
}

.input-group input {
  background-color: #ECECEC;
  width: 90%;
  padding: 20px 16px;
  border: 1px solid #000000;
  border-radius: 25px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
}

.input-group input:hover {
  background-color: #ffffff;
}

.input-group input:focus {
  border-color: #583bff;
  background-color: #ffffff;
}


.btnd, .btncreate {
  margin: 20px;
  display: block;           
  width: 80%;
  padding: 26px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 30px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000
}

.btncreate {
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  justify-content: center;  
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 0.4 1;
}

.btnr {
  margin: 10px;
  display: block;           
  width: 20%;
  padding: 18px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 25px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000
}



@media screen and (width<786px) {
  .main_block {
    width: 80%;
  }
  .btn_back {
    width: 80%;
    align-self: center;
  }
  
  header {
    align-items: center;
    justify-content: center;
  }
  .main_blockr {
  flex: 1 1 500px;
  min-width: 90vw;
}
}