* {
  padding: 0;
  margin: 0;
}


.main_cont {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(138, 128, 217));
  height: 100vh;
}

h1 {
  padding-top: 15vh;
  justify-self: center;
  font-size: 3em;  
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

span {
  font-size: 1.25em;
  text-align: center;
}

.main_rect {
  padding: 20px;
  display: flex;
  border-style: solid;
  border-color: #8279CF;
  border-width: 10px;
  background: white;
  border-radius: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 25rem;
  height: 25rem;
  justify-self: center;
}


.btn1 {
  display: flex;           
  width: 80%;
  height: 50%;
  align-items: center;
  justify-content: center;             
  text-decoration: none;    
  border-radius: 40px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #7f7b7b;
  color: #ffffff
}


.btn2 {
  display: flex;           
  width: 20%;
  height: 10%;
  align-items: center;
  justify-content: center;             
  text-decoration: none;    
  border-radius: 40px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #7f7b7b;
  color: #ffffff
}

@media screen and (width<500px) {
  .main_rect {
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    align-self: center;
  }

  .btn2 {
    font-size: 10px;
  }

  h1 {
    padding-top: 15vh;
    justify-self: center;
    font-size: 3em;  
    background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}