* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}


.h11 {
  font-size: clamp(1.5rem, 4vw, 3rem); 
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.h12 {
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.h13 {
  font-size: clamp(1rem, 4vw, 4rem);
  align-self: center;
  text-align: start;
  color: rgb(63, 58, 112)
}

.h121 {
  text-align: start !important;
  width: 100%;
}

header {
  padding-left: 100px;
  padding-top: 20px;
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: start;
}

.timer {
  width: 80vw;
  height: 50px;
  border-radius: 20px;
  background: #7f7b7b;
}

.currenttime {
  width: 80vw;
  height: 50px;
  border-radius: 20px;
  background: #ffffff;
}

.currenttime {
  animation: time-on-question 3s;
  animation-timing-function:linear;
}

@keyframes time-on-question {
  from {
    width: 100%;
  }
  to {
    width: 5%;
    background-color: #ff7595;
  }
}

.main_cont {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(138, 128, 217));
  display: flex;
  min-height: 100vh; /* минимум — высота экрана */
  min-width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
}

main {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px; 
  align-items: start;
  justify-content: start;
  width: 100%;
}


.btn {
  display: block;           
  width: 90%;
  padding: 18px 24px;
  text-align: start ;                  
  text-decoration: none;    
  border-radius: 18px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(225, 224, 224), rgb(255, 255, 255));
  border-style: solid;
  border-width: 2px;
  border-color: #7f7b7b;
  color: #000
}

.question {

  margin-top: 50px;
  padding: 5px;
  display: flex;
  border-style: solid;
  border-color: #e2deff;
  border-width: 10px;
  background: rgb(249, 249, 255);
  border-radius: 3em;
  text-align: start;
  height: auto;
  width: 70%;
}

.answers {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 30px;
  padding-left: 30px;
}

span {
  margin: 20px;
  align-self: start;
  font-size: clamp(1rem, 2vw, 2rem);
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

@media screen and (width<786px) {
  .main_block {
    width: 80%;
  }
  .btn_back {
    width: 80%;
    align-self: center;
  }
  
  header {
    align-items: center;
    justify-content: center;
  }
  .main_blockr {
  flex: 1 1 500px;
  min-width: 90vw;
}
}