* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.main_cont {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(138, 128, 217));
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.leftdiv {
  display: block;
  width: 182px;
  height: 20%;

}

.rightdiv {
  align-self: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2em;
  align-items: center;
}

.btnl,
.btnr {
  display: block;           
  width: 420px;
  padding: 16px 24px;
  text-align: center;                   
  text-decoration: none;    
  border-radius: 18px;
  font-size: 25px;
}

.btnl {
  background: linear-gradient(0deg, rgb(225, 224, 224), rgb(255, 255, 255));
  border-style: solid;
  border-width: 2px;
  border-color: #7f7b7b;
  color: #000
}

.btnr {
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  padding: 16px 16px;
  width: 210px;
  border-width: 2px;
  border-color: #291818;
  color: #000000
}

.btn_back {
  margin: 15px  ;
  display: block;           
  width: 100px;
  padding: 22px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 28px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000;
}

.pic {
  display: block;           
  width: 320px;
  height: 320px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 50%;
  font-size: 20px;
  background: #7f78e8;
  border-style: solid;
  border-width: 2px;
  border-color: #291818;

}

.btnl:hover {
  background: #f1f1f1;
}
.btnr:hover {
  background: linear-gradient(180deg, rgb(255, 76, 76), rgb(255, 151, 151));
}



@media screen and (width<786px) {
  .leftdiv {
    padding-top: 5%;
    width: 100%;
    height: 100px;
  }

  .rightdiv {
    flex-shrink: 0;
    width: 100%;
    gap: 2em;
    align-items: center;
  }

  .btnl,
  .btnr {
    width: 70%;
  }

  .btn_back {
    margin: 5px;
    display: block;           
    width: 70%;
    padding: 22px 24px;
    text-align: center;                  
    text-decoration: none;    
    border-radius: 28px;
    font-size: 20px;
    background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
    border-style: solid;
    border-width: 2px;
    border-color: #291818;
    color: #000000;
    margin: auto;
  }
}
