* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.main_cont {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(138, 128, 217));
  padding-top: 10vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  width: 100%;
  padding: 1rem 0;
}

h1 {
  font-size: 50px;
  color: #302B5C;
}

header>p {
  font-size: 30px;
  color: #302B5C;
}

main {
  display: flex;
  justify-content: center;
}

.main_rect {
  display: flex;
  border-style: solid;
  border-color: #8279CF;
  border-width: 10px;
  background: white;
  border-radius: 3em;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25rem;
  height: 25rem;
}

.name, .password, .enter {
  width: 20em;
}

.input-group input {
  background-color: #ECECEC;
  width: 100%;
  padding: 20px 16px;
  border: 1px solid #000000;
  border-radius: 25px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
}

.input-group input:hover {
  background-color: #ffffff;
}

.input-group input:focus {
  border-color: #583bff;
  background-color: #ffffff;
}

.name>span,
.password>span {
  font-size: 20px;
}

.enter {
  border-radius: 2em;
  width: auto;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter>span>a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.btn {
    display: block;           
    width: 100%;
    padding: 12px 24px;
    text-align: center;      
    background: linear-gradient(180deg, rgb(214, 88, 88), rgb(167, 62, 62));
    color: white;             
    text-decoration: none;    
    border-radius: 25px;
    font-size: 20px;
}

.ent_href>a,
.ent_href>span {
  font-size: 20px;
  text-decoration: none;
}




@media screen and (width<786px) {
  .main_rect {
    border-radius: 2.5em;
    width: 18rem;
    height: 20rem;
  }

  h1 {
  font-size: 30px;
  }

  header>p {
    font-size: 15px;
  }

  .name, .password, .enter {
    width: 15em;
  }

  .input-group input {
  padding: 10px 16px;
  }

  .name>span,
  .password>span {
    font-size: 16px;
  }

  .enter {
    border-radius: 2em;
    width: 10em;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn {
    padding: 12px 24px;
    color: white;             
    font-size: 15px;
  }

  .ent_href>a,
  .ent_href>span {
    font-size: 12px;
    text-decoration: none;
  }
}