* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.btn_back {
  margin: 15px  ;
  display: block;           
  width: 100px;
  padding: 22px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 28px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000;
}

.h11 {
  font-size: clamp(1.5rem, 4vw, 3rem); 
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.h12 {
  font-size: clamp(1rem, 2vw, 2rem);
  align-self: center;
  text-align: center;
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.h13 {
  font-size: clamp(1rem, 4vw, 4rem);
  align-self: center;
  text-align: start;
  color: rgb(63, 58, 112)
}

.h121 {
  text-align: start !important;
  width: 100%;
}

header {
  display: flex;
  width: auto;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.main_cont {
  background: linear-gradient(0deg, rgb(255, 255, 255), rgb(138, 128, 217));
  display: flex;
  min-height: 100vh; /* минимум — высота экрана */
  min-width: 100vw;
  flex-direction: column;
  flex-wrap: wrap;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px; 
  align-items: start;
  justify-content: center;
  width: 100%;

}

.main_blockl {
  margin-top: 40px;
  margin-bottom: 140px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #8279CF;
  border-width: 10px;
  background: white;
  border-radius: 3em;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  height: auto;
}

.players {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #8279CF;
  border-width: 10px;
  background: white;
  border-radius: 3em;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 85%;
  flex-grow: 1;
  height: 600px;           /* или любая нужная вам высота */
  overflow-y: auto;        /* включает вертикальную прокрутку при переполнении */
  padding: 10px;  
}

.player {
  display: block;           
  width: 90%;
  min-height: 50px;
  margin: 5px 0; 
  text-align: center;                  
  text-decoration: none;    
  border-radius: 18px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(225, 224, 224), rgb(255, 255, 255));
  border-style: solid;
  border-width: 2px;
  border-color: #7f7b7b;
}

/* Для WebKit-браузеров (Chrome, Safari, Edge) */
.players::-webkit-scrollbar {
    display: none;
}

/* Для Firefox */
.players {
    scrollbar-width: none;
}

.btn {
  display: block;           
  width: 90%;
  padding: 18px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 18px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(225, 224, 224), rgb(255, 255, 255));
  border-style: solid;
  border-width: 2px;
  border-color: #7f7b7b;
  color: #000
}

.right {
  display: flex;
  flex-direction: column;
  margin-bottom: 140px;
  flex: 0.9 1 300px;
}

.link {
  margin-top: 1px;
  padding: 5px;
  display: flex;
  border-style: solid;
  border-color: #e2deff;
  border-width: 10px;
  background: rgb(249, 249, 255);
  border-radius: 3em;
  text-align: start;
  height: auto;
  width: 50%;
}

.main_blockr {
  margin-top: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #8279CF;
  border-width: 10px;
  background: white;
  border-radius: 3em;
  align-items: start;
  justify-content: space-around;
  height: auto;
}

span {
  margin: 20px;
  align-self: start;
  font-size: clamp(1rem, 2vw, 2rem);
  background: linear-gradient(0deg, rgb(27, 24, 54), rgb(92, 84, 163));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* для будущей совместимости */
}

.theme {
  margin-top: 1px;
  align-self: start;
  padding: 5px;
  display: flex;
  border-style: solid;
  border-color: #e2deff;
  border-width: 10px;
  background: rgb(249, 249, 255);
  border-radius: 3em;
  text-align: start;
  height: auto;
  width: 95%;
}

.btnstart {
  align-self: center;
  margin: 20px;
  display: block;           
  width: 80%;
  padding: 26px 24px;
  text-align: center;                  
  text-decoration: none;    
  border-radius: 30px;
  font-size: 20px;
  background: linear-gradient(0deg, rgb(255, 76, 76), rgb(255, 151, 151));
  border-style: solid;
  border-width: 2px;
  border-color: #291818;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 20px;
  width: auto;
  justify-content: center;  
  align-items: center;
  display: flex;
  flex-direction: row;
}

@media screen and (width<786px) {
  .main_block {
    width: 80%;
  }
  .btn_back {
    width: 80%;
    align-self: center;
  }
  
  header {
    align-items: center;
    justify-content: center;
  }
  .main_blockr {
  flex: 1 1 500px;
  min-width: 90vw;
}
}